<div class="cart__item" appHighlight>
    <div class="cart-item-main">
        <div class="cart__item-description">
            <p>Product name: {{cartItem.name}}</p>
            <p>Product price: {{cartItem.price}}</p>
        </div>
        <button (click)="onDeleteItem(cartItem)"
                class="cart__item-remove btn btn-danger">x
        </button>
    </div>
    <div class="cart__item-controls">
        <button (click)="onQuantityDecrease(cartItem)"
                class="btn btn-secondary cart__item-controller">-
        </button>
        <input value="{{cartItem.itemsInCart}}" class="cart__item-input"/>
        <button
                *ngIf="cartItem.availableCount !== 0"
                (click)="onQuantityIncrease(cartItem)"
                class="cart__item-controller btn btn-secondary"
        >+
        </button>
    </div>
</div>