<div class="best-seller-block">
  <p class="best-seller-heading">Best seller of last month</p>
  <p>Phone name: {{ name }}</p>
  <p>Phone description: {{ description }}</p>
  <p>Phone price: {{ price }}</p>
  <p>Phone OS: {{ operationSystem }}</p>
  <p>Is available: {{ isAvailable }}</p>
</div>
<h2 class="main-heading">Products that need to be delivered from USA:</h2>
<div class="products-block">
  <div *ngFor="let phone of this.products; index as i;" class="products-block__item">
    Phone {{ i + 1 }}
    <p>Phone name: {{ phone.name }}</p>
    <p>Phone description: {{ phone.description }}</p>
    <p>Phone price: {{ phone.price }}</p>
    <p>Phone OS: {{ phone.operationSystem }}</p>
    <p>Is available: {{ phone.isAvailable }}</p>
  </div>
</div>
